@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --blue: #0065fc;
  --clearblue: #deebff;
  --grey: #f2f2f2;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.containernav {
  width: 1440px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}
.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
  padding: 0;
}
.main-nav li {
  display: inline;
}
.main-nav a {
  padding: 0.5em 1.5em;
}
header .containernav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.main-nav-list li {
  padding-top: 25px;

  position: relative;
  text-align: center;
  border-top: solid 2px transparent;
  color: var(--blue);
}
.main-nav-list li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
.main-nav li a:hover {
  text-decoration: none;
  color: var(--blue);
  display: inline-block;
}

.main-nav li:hover {
  color: var(--blue);
  border-top: solid 20px var(--blue);
}

.search-container {
  margin-bottom: 30px;
}

form {
  display: flex;
  align-items: center;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  min-width: 50px;
  background-color: #ececec;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
input {
  padding: 11px;
  height: 50px;
  border: solid #ececec 1px;
  margin-right: -5px;

  border-right: none;
}

input[type="search"]:focus {
  outline: none;
}

input::placeholder {
  color: #000;
}

button {
  border: none;
  padding: 11px;
  height: 50px;
  border-radius: 0 15px 15px 0;
  background-color: var(--blue);
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
button::before {
  content: "Rechercher";
}

.filter_container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.filter_container h2 {
  margin-right: 32px;
}

.filters {
  display: flex ;
  grid-template-columns: 4fr;
}

.filter {
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 12px;
  height: 45px;
  border: 1px solid #d9d9d9;    
  border-radius: 25px;
  transition: ease-in-out 0.5s;
}

.filter:hover {
  background-color: #d9d9d9;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}
.filter p {
  padding-left: 15px;
  padding-right: 20px;
  font-weight: 900;
}
.iconsfilter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 18px;
}
.iconinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 1px #d9d9d9;
  font-size: 15px;
  padding: 15px;
  margin-right: 10px;
  color: #0065fc;
}

footer {
  background-color: var(--grey);
}

.footercontainer {
  /* width: 90%; */
  display: flex;
  flex-wrap: wrap;
}

footer article {
  width: 33.3%;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul > li a {
  text-decoration: none;
  padding-bottom: 20px;
  list-style-type: none;
  color: #000;
  display: block;
  transition: ease-out 0.1s;
}
footer ul > li:last-child {
  padding-bottom: 0px;
}

footer ul > li a:hover {
  color: var(--blue);
  transition: ease-out 0.1s;
}

.cardscontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 60px;
}

.result-container {
  width: 60%;
  border-radius: 20px;
  padding: 20px;
  order: 1;
  background-color: #f2f2f2;
}

.fa-star {
  color: #d9d9d9;
}
.rated {
  color: #0065fc;
}
.resultpopular-container {
  background-color: #f2f2f2;
  padding: 35px;
  border-radius: 20px;
  order: 2;
  width: 36%;
}

.resultpopular-container a {
  text-decoration: none;
  color: #000;
}

.result-container a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  display: block;
}

.result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px 35px;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
}

/* @media screen and (max-width: 768px) {
 
} */

/* @media screen and (min-width: 768px) and (max-width: 992px){
  

 
} */

.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card4 {
  grid-area: card4;
}
.card5 {
  grid-area: card5;
}
.card3 {
  grid-area: card3;
}
.card6 {
  grid-area: card6;
}

.result-card {
  box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 5px 5px 15px 5px;
}
.result-card img {
  width: 235px;
  height: 115px;
}

.result-card h2 {
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 10px;
  margin: 0;
}

.resultcontent {
  padding-left: 6px;
}

.popular-card h2 {
  font-size: 17px;
  margin: 0;
}

.popular-card p {
  font-size: 14px;
}
.result-card p {
  font-size: 14px;
  margin-top: 0;
  padding-bottom: 10px;
  font-weight: 500;
}

.showmore {
  display: block;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 45px;
}
.popular-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.popular-heading h2 {
  margin-top: 0;
  font-size: 20px;
}

.popular-heading i {
  font-size: 20px;
}

.popular-card img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 32%;
  height: 135px;
  object-fit: cover;
}

.popular-card_content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.result-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  object-fit: cover;
  width: 100%;
}

.popular-card {
  box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 30px;
}

#activites {
  margin-bottom: 60px;
}

.activites_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.activites-card_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding-right: 30px;
}

.activites-card {
  box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;

 
}
.activites-card a{
  text-decoration: none;
}
.activites-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activites-card h3 {
  width: 100%;

  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 20px;
}

.activite1 img {
  object-fit: cover;
  width: 100%;
  height: 390px;
}
.activite2 img {
  object-fit: cover;
  width: 100%;
  height: 180px;
}
.activite3 img {
  object-fit: cover;
  width: 100%;
  height: 110px;
}
.activite4 img {
  object-fit: cover;
  width: 100%;
  height: 390px;
}
.activite5 img {
  object-fit: cover;
  width: 100%;
  height: 138px;
}
.activite6 img {
  object-fit: cover;
  width: 100%;
  height: 138px;
}

@media screen and (min-width: 768px) {
  header .containernav {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20p;
  }

  .cardscontainer {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6";
  }

  .footercontainer {
    width: 100%;
  }

  .result-container {
    order: 1;
    background-color: #f2f2f2;
    width: 100%;
    margin-bottom: 40px;
  }
  .resultpopular-container {
    order: 2;
    width: 100%;
    background-color: #f2f2f2;
  }
  .activites-card_container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .filters {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .result {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
    grid-area: result;
    margin-bottom: 20px;
  }

  .main-nav {
    width: 100%;
    text-align: center;
  }
  .main-nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .main-nav-list li {
    text-decoration: none;
    border-top: none;
    border-bottom: solid 2px var(--grey);
    color: #000;
    width: 50%;
    padding-bottom: 20px;
  }

  .main-nav-list li:hover {
    color: var(--blue);
    border-top: none;
    border-bottom: solid 2px var(--blue);
  }

  h1 {
    font-size: 1.2em;
  }

  .subscribe a {
    position: absolute;
    top: 50px;
    right: 0px;
  }
  button {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 46px;
    min-width: 46px;
  }
  button::before {
    content: "\f002";
  }

  .cardscontainer {
    padding: 0;
  }

  .result-container {
    order: 2;
    background-color: transparent;
    width: 100%;
  }
  .resultpopular-container {
    order: 1;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 0;
  }

  .footercontainer {
    width: 100%;
    flex-direction: column;
  }
  footer article {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .activites_container {
    flex-direction: column;
    height: 100%;
  }

  .activites-card {
    width: 100%;
  }
  .activites-card img {
    width: 100%;
    height: 15vh;
  }
  .activites-card_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-right: 0px;
  }
}
